@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*--------------------------------------------------* BODY
--------------------------------------------------*/
body {
  background-color: #1B201A;
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
}

@media all and (min-width: 851px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* "&" el padre */
  }
  .grid__cell--100 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
  }
  .grid__cell--95 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(95%);
            flex: 0 0 calc(95%);
    margin-bottom: 60px;
  }
  .grid__cell--75 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(75%);
            flex: 0 0 calc(75%);
    margin-bottom: 120px;
  }
  .grid__cell--65 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(65%);
            flex: 0 0 calc(65%);
    margin-bottom: 120px;
  }
  .grid__cell--50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50%);
            flex: 0 0 calc(50%);
    margin-bottom: 120px;
  }
  .grid__cell--45 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(45%);
            flex: 0 0 calc(45%);
    margin-bottom: 120px;
  }
  .grid__cell--25 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25%);
            flex: 0 0 calc(25%);
    margin-bottom: 120px;
  }
  .grid__cell--15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(15%);
            flex: 0 0 calc(15%);
    margin-bottom: 120px;
  }
}
@media all and (max-width: 850px) {
  .grid__cell--90 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .grid__cell--75 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
    padding-bottom: 120px;
  }
  .grid__cell--65 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
    padding-bottom: 120px;
  }
  .grid__cell--50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
    padding-bottom: 120px;
  }
  .grid__cell--45 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
    padding-bottom: 120px;
  }
  .grid__cell--25 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
    padding-bottom: 120px;
  }
  .grid__cell--15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%);
            flex: 0 0 calc(100%);
    padding-bottom: 120px;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  color: #ffffff;
}

@font-face {
  font-family: "Qanelas";
  src: url("typography/qanelas/Qanelas-Regular.eot") format("eot"), url("typography/qanelas/Qanelas-Regular.ttf") format("ttf"), url("typography/qanelas/Qanelas-Regular.woff") format("woff"), url("typography/qanelas/Qanelas-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Migra";
  src: url("typography/migra/Migra-Extralight.ttf") format("ttf"), url("typography/migra/Migra-Extralight.woff") format("woff"), url("typography/migra/Migra-Extralight.woff2") format("woff2");
}
h1 {
  font-weight: 200;
  color: #ffffff;
  font-family: migra;
  font-size: 140px;
  line-height: 160px;
  margin: 0px 0px;
  text-transform: uppercase;
}

@media all and (max-width: 849px) {
  h1 {
    color: #ffffff;
    font-family: migra;
    font-size: 60px;
    line-height: 60px;
    margin: 0px 0px;
    text-transform: uppercase;
  }
}
h2 {
  font-weight: 200;
  color: #ffffff;
  font-family: migra;
  font-size: 70px;
  line-height: 85px;
  margin: 0px 0px;
  text-transform: uppercase;
}

@media all and (max-width: 900px) {
  h2 {
    color: #ffffff;
    font-family: migra;
    font-size: 50px;
    line-height: 50px;
    margin: 0px 0px;
    text-transform: uppercase;
  }
}
h3 {
  font-weight: 200;
  color: #ffffff;
  font-family: migra;
  font-size: 35px;
  line-height: 30px;
  margin: 0px 0px;
  text-transform: uppercase;
}

h4 {
  font-weight: 200;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: migra;
  font-size: 24px;
  line-height: 35px;
  margin: 0px 0px;
  text-transform: none;
}

h5 {
  font-weight: 200;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: Qanelas-Regular;
  font-size: 15px;
  line-height: 33px;
  margin: 0px 0px;
  text-transform: uppercase;
}

h6 {
  font-weight: 200;
  color: #ffffff;
  font-family: Qanelas-Regular;
  font-size: 12px;
  line-height: 15px;
  margin: 0px 0px;
  text-transform: none;
}

p {
  font-weight: 200;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: Qanelas-Regular;
  font-size: 16px;
  line-height: 32px;
  margin: 0px 0px;
  text-transform: none;
}

.button__menu,
.button__footer,
.button__colorbg {
  font-weight: 200;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: Qanelas-Regular;
  font-size: 15px;
  line-height: 16px;
  margin: 0px 0px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.privacity {
  font-weight: 200;
  color: #ffffff;
  font-family: Qanelas-Regular;
  font-size: 12px;
  line-height: 15px;
  margin: 0px 0px;
  text-transform: none;
}

hr.divider {
  color: #ffffff;
}
hr.divider__footer--under {
  margin-bottom: 120px;
}
hr.divider__space {
  margin-bottom: 120px;
}
hr.divider__top--bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}
hr.divider__top--bottom--margin {
  margin-left: 30px;
}

.symbol {
  display: inline-block;
  color: #30BBC5;
  position: relative;
  -webkit-transform-origin: 20% 20%;
          transform-origin: 20% 20%;
  -webkit-animation: simple-rotate 1s 1s linear infinite;
  animation: simple-rotate 2s 2s linear infinite;
}
@-webkit-keyframes simple-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes simple-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: 50% 0% 0;
            transform-origin: 50% 0% 0;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.col {
  width: 100%;
  color: #1B201A;
}

@media (min-width: 480px) {
  .col {
    float: left;
    margin-bottom: 0;
  }
  .col.col100 {
    width: 100%;
  }
  .col.col50 {
    width: 50%;
  }
  .col.col33 {
    width: 33.33333%;
  }
  .col.col25 {
    width: 25%;
  }
}
label, .label {
  border: 0px;
  display: block;
  font-size: 0.9em;
  margin-bottom: 10px;
}
label.checkbox, .label.checkbox {
  width: 100%;
}

.field {
  width: 100%;
  background: none;
  border: none;
  font-weight: 200;
  color: #ffffff;
  font-family: Qanelas-Regular;
  font-size: 15px;
  line-height: 20px;
  margin: 0px 0px;
  text-transform: none;
  color: #ffffff;
  height: 30px;
}
.field:focus {
  border: 3px;
}

.input {
  border-bottom: 2px solid #30BBC5;
  margin: 15px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.radio__field {
  font-size: inherit;
  position: absolute;
  margin: 0px 0px 0px 15px;
  left: 120px;
  top: 7px;
  z-index: 0;
}

/* alinear el contenido texto en la línea del cuadrado */
.radio__label {
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  font-weight: 200;
  color: #ffffff;
  font-family: Qanelas-Regular;
  font-size: 16px;
  line-height: 15px;
  margin: 0px 0px;
  text-transform: none;
}

/* Pseudoelementos: solo pueden llevarlos los elementos con contenido.
Siempre tiene que llevar "content"*/
/* CHECK */
.radio__label::after {
  content: "";
}

.radio__label::before {
  content: "";
  background-color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 5px 0px 10px;
  -webkit-box-shadow: inset 0 0 0 2px #30BBC5;
          box-shadow: inset 0 0 0 2px #30BBC5;
}

/* cuando no está checkeado */
.radio__field + .radio__label::after {
  background-color: #30BBC5;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 10px;
  opacity: 0;
  -webkit-transition: opacity eease 0.3s;
  transition: opacity eease 0.3s;
}

/* cuando está checkeado */
.radio__field:checked + .radio__label::after {
  opacity: 1;
}

.checkbox {
  position: relative;
}

.checkbox__field {
  font-size: inherit;
  position: absolute;
  left: -2px;
  top: -3px;
  z-index: 1;
}

/* alinear el contenido texto en la línea del cuadrado */
.checkbox__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

/* cuadno el imput esté marcado quiero que el label tenga color X */
.checkbox__field:checked + label div {
  color: #30BBC5;
}

.checkbox__label::before {
  background: url(../img/check-solid.svg) center 20px no-repeat white;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin-right: 10px;
  -webkit-transition: background-color ease 0.3s, background-position ease 0.3s;
  transition: background-color ease 0.3s, background-position ease 0.3s;
}

.checkbox__field:checked + .checkbox__label::before {
  background-position: center;
  background-color: #30BBC5;
  color: white;
  background-size: 12px;
}

.checkbox__label::after {
  content: "";
}

.code__items {
  margin: 1em;
  padding: 0;
  list-style: none;
}

@media all and (min-width: 850px) {
  .content-width {
    margin-left: 120px;
    margin-right: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1300px;
  }

  .paragraph__margin {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media all and (max-width: 849px) {
  .space__top {
    margin-top: 0px;
  }
}
@media all and (min-width: 850px) {
  .space__top {
    margin-top: 120px;
  }
}
.space__top--medium {
  margin-top: 60px;
}
.space__top--small {
  margin-top: 15px;
}
.space__bottom {
  margin-bottom: 120px;
}
.space__bottom--medium {
  margin-bottom: 60px;
}
.space__bottom--small {
  margin-bottom: 15px;
}

@media all and (min-width: 850px) {
  .full__height {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .full__height--center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .full__height .h4-mobile {
    display: none;
  }

  .flex-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media all and (max-width: 1110px) {
  .content-width {
    margin-left: 30px;
    margin-right: 30px;
  }

  .h4-destok {
    display: none;
  }
}
.scroll {
  -webkit-animation: simple-rotate 1s 1s linear infinite;
  animation: simple-rotate 5s 5s linear infinite;
  text-align: center;
}

.avatar {
  max-width: 100%;
  background-image: url("../scss/utilities/img/img-abautme-laura-parreno.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  z-index: -1;
  margin-bottom: 156px;
}

@media all and (min-width: 851px) {
  .avatar__mobile {
    display: none;
  }
}
@media all and (max-width: 850px) {
  .avatar {
    background-image: none;
  }
  .avatar .avatar__mobile {
    width: 100%;
  }
}
/* estructura */
.sp__skills {
  position: relative;
  margin: -60px auto;
  width: 100%;
  min-width: 260px;
  height: 280px;
}

/* contenido */
.sp-content {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

/* radios */
.sp__skills input {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 9px;
  height: 9px;
  z-index: 1001;
  cursor: pointer;
  opacity: 0;
}

/* scroll circulos */
.sp__skills input + label {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 6px;
  height: 6px;
  display: block;
  z-index: 1000;
  border: 3px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color linear 0.1s;
  transition: background-color linear 0.1s;
}

/* background scroll circles */
.sp__skills input:checked + label {
  background-color: #30BBC5;
  border: grey;
}

/* circles */
.sp__selector--1, .button-label-1 {
  margin-left: -36px;
}

.sp__selector--2, .button-label-2 {
  margin-left: -18px;
}

.sp__selector--4, .button-label-4 {
  margin-left: 18px;
}

.sp__selector--5, .button-label-5 {
  margin-left: 36px;
}

/* ARROWS */
.sp__arrow {
  position: absolute;
  top: 88%;
  width: 22px;
  height: 38px;
  margin-top: 0px;
  display: none;
  opacity: 1;
  cursor: pointer;
  z-index: 2;
  background: transparent url("../img/arrow-parallax-skills.png") no-repeat;
}

/* arrow right */
.sp__selector--1:checked ~ .sp__arrow.sp__a2,
.sp__selector--2:checked ~ .sp__arrow.sp__a3,
.sp__selector--3:checked ~ .sp__arrow.sp__a4,
.sp__selector--4:checked ~ .sp__arrow.sp__a5 {
  right: 0px;
  display: block;
  background-position: top right;
}

/* arrow left */
.sp__selector--2:checked ~ .sp__arrow.sp__a1,
.sp__selector--3:checked ~ .sp__arrow.sp__a2,
.sp__selector--4:checked ~ .sp__arrow.sp__a3,
.sp__selector--5:checked ~ .sp__arrow.sp__a4 {
  left: 0px;
  display: block;
  background-position: top left;
}

/* TEXT */
.sp__slider {
  position: relative;
  left: 0;
  width: 500%;
  height: 80%;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: left ease-in 0.8s;
  transition: left ease-in 0.8s;
}

.sp__slider > li {
  color: #ffffff;
  width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  float: left;
  text-align: left;
  opacity: 0.4;
  -webkit-transition: opactiy ease-in 0.4s 0.8s;
  transition: opactiy ease-in 0.4s 0.8s;
}

input.sp__selector--1:checked ~ .sp-content .sp__slider {
  left: 0;
}

input.sp__selector--2:checked ~ .sp-content .sp__slider {
  left: -100%;
}

input.sp__selector--3:checked ~ .sp-content .sp__slider {
  left: -200%;
}

input.sp__selector--4:checked ~ .sp-content .sp__slider {
  left: -300%;
}

input.sp__selector--5:checked ~ .sp-content .sp__slider {
  left: -400%;
}

/* opacity text */
input.sp__selector--1:checked ~ .sp-content .sp__slider > li:first-child,
input.sp__selector--2:checked ~ .sp-content .sp__slider > li:nth-child(2),
input.sp__selector--3:checked ~ .sp-content .sp__slider > li:nth-child(3),
input.sp__selector--4:checked ~ .sp-content .sp__slider > li:nth-child(4),
input.sp__selector--5:checked ~ .sp-content .sp__slider > li:nth-child(5) {
  opacity: 1;
}

.arrow {
  width: 25px;
  -webkit-animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.arrow__down {
  height: 2px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  border-radius: 2px;
}

.arrow__down:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: #ffffff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
.icono-hand {
  margin-left: 4px;
}

.button__available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: relative;
  margin-left: auto;
  display: flex;
  color: #30BBC5;
  bottom: -0.7em;
  margin-right: 30px;
  letter-spacing: 1px;
}

.button__menu {
  padding: 7px 13px 7px 13px;
  background: none;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ffffff;
  margin: 10px 10px 0px 0px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: relative;
  color: #ffffff;
}
.button__menu:nth-child(2) {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.button__menu:hover {
  background-color: #30BBC5;
  border: 1px solid #30BBC5;
}

.button__footer {
  padding: 7px 13px 7px 13px;
  background: none;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  z-index: 2;
  text-decoration: none;
  position: relative;
  border: 1px solid #ffffff;
  margin: 15px 10px 0px 0px;
  color: #ffffff;
}
.button__footer:hover {
  background-color: #30BBC5;
  border: 1px solid #30BBC5;
}

.button__link {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.button__link:hover {
  color: #30BBC5;
  border-bottom: 1px solid #30BBC5;
}

.button__colorbg {
  padding: 7px 13px 7px 13px;
  background: #30BBC5;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  z-index: 2;
  text-decoration: none;
  position: absolute;
  border: 1px solid #30BBC5;
  color: #ffffff;
}
@media all and (min-width: 850px) {
  .button__colorbg {
    margin: 15px 10px 0px 30px;
  }
}
@media all and (max-width: 850px) {
  .button__colorbg {
    margin: 15px 10px 0px 0px;
  }
}
.button__colorbg:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.links {
  color: #ffffff;
}

.links:hover {
  color: #30BBC5;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #1B201A;
}
@media all and (max-width: 750px) {
  .copyright {
    display: block;
  }
}
@media all and (min-width: 751px) {
  .copyright .copy {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copyright .copy:nth-child(2) {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.floating {
  background: linear-gradient(143deg, #59D8D9, #330867);
  -webkit-animation: candy 2s ease infinite;
          animation: candy 2s ease infinite;
  background-size: 200% 150%;
  border-radius: 100%;
  position: fixed;
  width: 450px;
  height: 450px;
  -webkit-transition: all 10s;
  transition: all 10s;
  left: 0;
  top: 0;
  z-index: -1;
}

@-webkit-keyframes candy {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes candy {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
footer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55.83%, rgba(27, 32, 26, 0)), color-stop(97.82%, rgba(6, 210, 255, 0.1)));
  background: linear-gradient(180deg, rgba(27, 32, 26, 0) 55.83%, rgba(6, 210, 255, 0.1) 97.82%);
  z-index: 2;
  background-color: #1B201A;
}