html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.col {
 width: 100%;
 color: $colorbg;
}

@media (min-width: 480px) {
  
  .col {
    float: left;
    margin-bottom: 0;

    &.col100 {
      width: 100%;
    }
    
    &.col50 {
      width: 50%;
    }

    &.col33 {
      width: 33.33333%;
    }

    &.col25 {
      width: 25%;
    }
  }
}

// styling form
label, .label {
    border: 0px;
    display: block;
    font-size: 0.9em;
    margin-bottom: 10px;
    
    &.checkbox {
      width: 100%;
    }
}

.field {
    width: 98%;
    background: none;
    border: none;
    font-weight: $fontQanelasRegular;
    @include fontStyle (15px, 20px, Qanelas-Regular, none);
    color: $colorfont;
    height: 30px;
    border-bottom: 2px solid $colorsymbol;

    &:focus {
      border: 2px solid $colorsymbol;;
    }
}



//RADIO
.radio {
    display: flex;
    margin-top: 8px;
    position: relative;
    flex-direction: row;
}

.radio__field{
    font-size:inherit;
    position:absolute;
    margin: 0px 0px 0px 15px;
    left: 120px;
    top: 7px;
    z-index: 0;
}

@media all and (max-widht: 375px) {
  .radio__field {
    left: 115px;
    top: 25px;
}
}

/* alinear el contenido texto en la línea del cuadrado */
.radio__label {
    color: white;
    display: inline-flex;
    align-items:center;
    position: relative;
    z-index: 2;
    font-weight: $fontQanelasRegular;
    @include fontStyle (16px, 15px, Qanelas-Regular, none);
}



/* Pseudoelementos: solo pueden llevarlos los elementos con contenido.
Siempre tiene que llevar "content"*/
/* CHECK */
.radio__label::after {
    content: ""
}

.radio__label::before {
    content: "";
    background-color: white;;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 5px 0px 10px;
    box-shadow: inset 0 0 0 2px $colorsymbol;
}

/* cuando no está checkeado */
.radio__field + .radio__label::after {
    background-color: $colorsymbol;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 10px;

    opacity: 0;
    transition: opacity eease .3s;
}

@media all and (max-width: 375px) {
  .radio__field + .radio__label::after {
    top: 27px;
  }
}

/* cuando está checkeado */
.radio__field:checked + .radio__label::after {
    opacity: 1;
}



//CHECKBOX
.checkbox {
    position: relative;
}

.checkbox__field {
    font-size:inherit;
    position:absolute;
    left: -2px;
    top: -3px;
    z-index: 1;
}

/* alinear el contenido texto en la línea del cuadrado */
.checkbox__label {
  display: inline-flex;
  align-items:center;
  position: relative;
  z-index: 2;

}

/* cuadno el imput esté marcado quiero que el label tenga color X */ 
.checkbox__field:checked + label div {
  color: $colorsymbol;
}
 


//CHECK
.checkbox__label::before {
background: center 20px no-repeat white;
content: "";
display: inline-block;
width: 15px;
height: 15px;
border-radius: 2px;
margin-right: 10px;
transition: 
  background-color ease .3s,
  background-position ease .3s;
}

.checkbox__field:checked + .checkbox__label::before {
  background-position: center;
  background-color: $colorsymbol;
  color: white;
  background-size: 12px;
}

.checkbox__label::after {
content: ""
}



//ESTILO LISTADOS
.code__items{
  padding:0;
  list-style: none;
}