* {
    box-sizing: border-box;
}

    /*--------------------------------------------------* BODY
  --------------------------------------------------*/
body {
    background-color: $colorbg;
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
}