//MEDIA CONTENT
@media all and (min-width: 850px) {

.content-width {
    margin-left: $space;
    margin-right: $space;
    justify-content: space-between;

}

.paragraph__margin {
    padding-left: 30px;
    padding-right: 30px;
}
}

.space {

    &__top {
        margin-top: $space;
    }

    &__top--medium {
        margin-top: $unit;
    }

    &__bottom {
        margin-bottom: $space;
    }

    &__bottom--medium {
        margin-bottom: $unit;
    }

    &__bottom--small {
        margin-bottom: $unit--medium;
    }
}




@media all and (min-width: 850px) {
    .full__height {
        height: 100vh;
        display: flex;
        position: relative;
    
        &--center {
            align-items: center;
        }
        .h4-mobile {
            display: none;
        }
    }
    .flex-end {
        align-items: flex-end;
    }
}

@media all and (max-width: 1110px) {
    .content-width {
        margin-left: $margin;
        margin-right: $margin;
    }

    .h4-margin {
        margin: 15px 0px;
    }

    .h4-destok {
        display: none;
    }
}


