//SPACES
$unit:60px;
$space: $unit * 2;
$unit--medium: $unit / 1.2;
$margin: 30px;
$margin--medium: $margin / 2;
$margin--avatar: $space * 1.3;

//COLORS
$colorbg: #1B201A;
$colorfont: #ffffff;
$colorsymbol: #30BBC5;
$colorborderbuttom: #ffffff;

//FONTS
$fontMigraExtraLight: 200;
$fontQanelasRegular: 200;


