.arrow-container {
    width: 25px;
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    align-items: flex-end;
  }
  
  .arrow-down {
    height: 2px;
    background: $colorfont;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    border-radius: 2px;
  }
  .arrow-down:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 100%;
    border-radius: 5px;
    background: $colorfont;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
  }
  
  @keyframes bounce {
  50% {
      transform: translateY(-15px);
    }
  }
  