.avatar {
    max-width: 100%;
    background-image: url('../scss/utilities/img/img-abautme-laura-parreno.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    
}