h1,
h2,
h3,
h4,
h5,
h6
p {
  color: $colorfont;
}

@font-face {
    font-family: 'Qanelas';
    
    src: url('/scss/atmosphere/typography/qanelas/Qanelas-Regular.eot') format('eot'),
      url('/scss/atmosphere/typography/qanelas/Qanelas-Regular.ttf') format('ttf'),
      url('/scss/atmosphere/typography/qanelas/Qanelas-Regular.woff') format('woff'),
      url('/scss/atmosphere/typography/qanelas/Qanelas-Regular.woff2') format('woff2');
  }

@font-face {
    font-family: 'Migra';
    
    src: url('/scss/atmosphere/typography/migra/Migra-Extralight.ttf') format('ttf'),
      url('/scss/atmosphere/typography/migra/Migra-Extralight.woff') format('woff'),
      url('/scss/atmosphere/typography/migra/Migra-Extralight.woff2') format('woff2');
  }

h1 {
    font-weight: $fontMigraExtraLight;
    @include fontStyle (180px, 200px, migra, uppercase);
  }


  @media only screen and (max-width: 1500px) and (min-width: 850px) {
    h1 {
      @include fontStyle (140px, 130px, migra, uppercase);
    }
  }


  @media only screen and (max-width: 849px) and (min-width: 501px) {
    h1 {
      @include fontStyle (85px, 100px, migra, uppercase);
    }
  }

@media all and (max-width: 500px) {
  h1 {
    @include fontStyle (50px, 50px, migra, uppercase);
  }
}

h2 {
    font-weight: $fontMigraExtraLight;
    @include fontStyle (70px, 85px, migra, uppercase);
    margin-bottom: $margin--medium;
    display: inline;
  }

  @media only screen and (max-width: 900px) and (min-width: 500px) {
    h2 {
      @include fontStyle (50px, 50px, migra, uppercase);
      margin-bottom: $margin--medium;
      display: inline;
    }
  }

@media all and (max-width: 499px) {
  h2 {
    @include fontStyle (40px, 50px, migra, uppercase);
    margin-bottom: $margin--medium;
    display: inline;
  }
}  

h3 {
    font-weight: $fontMigraExtraLight;
    @include fontStyle (35px, 30px, migra, uppercase);
    display: inline;
  }

h4 {
    font-weight: $fontMigraExtraLight;
    letter-spacing: 1px;
    @include fontStyle (24px, 35px, migra, none);
  }

h5 {
    font-weight: $fontQanelasRegular;
    letter-spacing: 1px;
    @include fontStyle (15px, 18px, Qanelas-Regular, none);
  }

@media all and (max-width: 450px) {
  h5 {
    font-weight: $fontQanelasRegular;
    @include fontStyle (15px, 24px, Qanelas-Regular, none);
  }
}

h6 {
    font-weight: $fontQanelasRegular;
    @include fontStyle (12px, 15px, Qanelas-Regular, none);
  }

p {
    font-weight: $fontQanelasRegular;
    @include fontStyle (16px, 32px, Qanelas-Regular, none);
    font-weight: 400;
  }

.button__menu,
.button__footer,
.button__colorbg {
    font-weight: $fontQanelasRegular;
    letter-spacing: 1px;
    @include fontStyle (15px, 16px, Qanelas-Regular, uppercase);
    width: fit-content;
}

.privacity {
  font-weight: $fontQanelasRegular;
  @include fontStyle (12px, 15px, Qanelas-Regular, none);
}

