h1,
h2,
h3,
p {
  color: $colorfont;
}

@font-face {
    font-family: 'Qanelas';
    
    src: url('typography/qanelas/Qanelas-Regular.eot') format('eot'),
      url('typography/qanelas/Qanelas-Regular.ttf') format('ttf'),
      url('typography/qanelas/Qanelas-Regular.woff') format('woff'),
      url('typography/qanelas/Qanelas-Regular.woff2') format('woff2');
  }

@font-face {
    font-family: 'Migra';
    
    src: url('typography/migra/Migra-Extralight.ttf') format('ttf'),
      url('typography/migra/Migra-Extralight.woff') format('woff'),
      url('typography/migra/Migra-Extralight.woff2') format('woff2');
  }

h1 {
    font-weight: $fontMigraExtraLight;
    @include fontStyle (120px, 130px, migra, uppercase);
  }

h2 {
    font-weight: $fontMigraExtraLight;
    @include fontStyle (70px, 85px, migra, uppercase);
  }

h3 {
    font-weight: $fontMigraExtraLight;
    @include fontStyle (30px, 30px, migra, uppercase);
  }

h4 {
    font-weight: $fontMigraExtraLight;
    letter-spacing: 1px;
    @include fontStyle (24px, 40px, migra, none);
  }

h5 {
    font-weight: $fontQanelasRegular;
    letter-spacing: 1px;
    @include fontStyle (15px, 15px, Qanelas-Regular, uppercase);
  }

h6 {
    font-weight: $fontQanelasRegular;
    @include fontStyle (12px, 15px, Qanelas-Regular, none);
  }

p {
    font-weight: $fontQanelasRegular;
    @include fontStyle (16px, 30px, Qanelas-Regular, none);
  }

a.button__menu,
.button__footer {
    font-weight: $fontQanelasRegular;
    letter-spacing: 1px;
    @include fontStyle (15px, 16px, Qanelas-Regular, uppercase);
    width: fit-content;
}

a.privacity {
  font-weight: $fontQanelasRegular;
  @include fontStyle (12px, 15px, Qanelas-Regular, none);
}
