.copyright {
    display: flex;
    padding: 20px;
    background-color: $colorbg;

    @media all and (max-width: 750px) {
        display: block;
    }
    
    @media all and (min-width: 751px) {

        .copy {
            text-align: center;
            justify-content: center; 
        
            &:nth-child(2) {
                margin-left: auto;
                display: flex;
            }
        }
    }
}


