@media all and (min-width: 851px) {
.grid {
    display: flex;
    flex-wrap: wrap;

    /* "&" el padre */
    &__cell {

        &--100 {
            flex: 0 0 calc(100%);
        }

        &--90 {
            flex: 0 0 calc(90%);
            margin-bottom: 60px;
        }
        &--75 {
            flex: 0 0 calc(75%);
            margin-bottom: $space;
        }

        &--65 {
            flex: 0 0 calc(65%);
            margin-bottom: $space;
        }

        &--50 {
            flex: 0 0 calc(50%);
            margin-bottom: $space;
        }

        &--45 {
            flex: 0 0 calc(45%);
            margin-bottom: $space;
        }

        &--25 {
            flex: 0 0 calc(25%);
            margin-bottom: $space;
        }

        &--15 {
            flex: 0 0 calc(15%);
            margin-bottom: $space;
        }
    }
}
}



// MEDIA
@media all and (max-width: 850px) {
    .grid {        
        &__cell {
            &--90 {
                flex: 0 0 calc(100%);
                margin-top: 30px;
                margin-bottom: 10px;
            }
            &--75 {
                flex: 0 0 calc(100%);
                margin-bottom: $space;
            }
    
            &--65 {
                flex: 0 0 calc(100%);
                margin-bottom: $space;
            }
    
            &--50 {
                flex: 0 0 calc(100%);
                margin-bottom: $space;
            }
    
            &--45 {
                flex: 0 0 calc(100%);
                margin-bottom: $space;
            }
    
            &--25 {
                flex: 0 0 calc(100%);
                margin-bottom: $space;
            }
    
            &--15 {
                flex: 0 0 calc(100%);
                margin-bottom: $space;
            }
        }
    } 
}