.avatar {
    max-width: 100%;
    background-image: url('../scss/utilities/img/img-abautme-laura-parreno.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    z-index: -1;
}

@media all and (min-width: 850px) {
    .avatar__mobile {
        display:none;
    }
}

@media all and (max-width: 849px) {
    .avatar {
        background-image: none;
        .avatar__mobile {
            width: 100%;
        }
    }
}