hr.divider {
    color: $colorfont;
    
    &__footer--under {
        margin-bottom: $space;
    }

    &__space {
        margin-bottom: $space;
    }

    &__top--bottom {
        margin-top: $margin--medium;
        margin-bottom: $margin--medium;

        &--margin {
            margin-left: 30px;
        }
    }
}
